<svg version="1.1" id="Hangman" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 472.3 623.9" style="enable-background:new 0 0 472.3 623.9;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#FFFFFF;stroke:#000000;stroke-width:4;stroke-miterlimit:10;}
	.st1{fill:#FFFFFF;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
	.st2{stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
	.st3{display:none;}
	.st4{display:inline;fill:#FFFFFF;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
	.st5{display:inline;}
	.st6{display:inline;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
</style>
<path id="Pole" class="st0" d="M0,621.9h180 M472.3,2.4H88.4l0.3,619.5l3,0L91.4,5.4h377.9 M217.5,4.9l-2.2-2.1L88.9,133.3l2.2,2.1
	L217.5,4.9z M368.8,5.4l-0.6,110"/>
    tries= 0
    #tries=GAME_DATA['tries']
    <g id="Dummy">
        if tries == 1:
        <line id="Body" class="part st1" x1="368.8" y1="494.9" x2="368.8" y2="261.9"/>
        tries++
        <g id="Arms">
            if tries == 2:
            <line id="Left_Arm" class="show part st1" x1="369.3" y1="310.6" x2="278.3" y2="389.9"/>
            tries++
            if tries == 3:
            <line id="Right_Arm_1_" class="show part st1" x1="368.3" y1="310.6" x2="459.3" y2="389.9"/>
            tries++
        </g>
        <g id="Legs">
            if tries == 4:
            <line id="Left_Leg" class="show part st1" x1="278.3" y1="621.9" x2="369.3" y2="494.9"/>
            tries++
            if tries == 5:
            <line id="Right_Arm" class="show part st1" x1="459.3" y1="621.9" x2="368.3" y2="494.9"/>
            tries++
        </g>
        if tries == 6:
        <g id="Head">
            tries++
            <circle class="show part st1" cx="369.1" cy="187.5" r="73"/>
            <polygon class="show     part st2" points="369.1,180.1 270.6,134.4 340.6,215.9 369.1,200.9 397.6,215.9 467.6,134.4 		"/>
        </g>
    </g>
</svg>